<section class="header-section">
  <h1>Advies</h1>
</section>

<ion-card class=" advies-card">
  <ion-card-header>
    <ion-card-title class="card-title">Korte termijn advies</ion-card-title>
  </ion-card-header>

  <ion-card-content class="content-text">
    <div *ngIf="adviesEen">
      <p>Nuchter</p>
    </div>

    <div *ngIf="adviesTwee">
      <p>Neem nog een glaasje</p>
    </div>

    <div *ngIf="adviesDrie">
      <p>Oke nog eentje dan</p>
    </div>

    <div *ngIf="adviesDrie">
      <p>Gaat fout</p>
    </div>

    <div *ngIf="adviesDrie">
      <p>Ladderzat</p>
    </div>

  </ion-card-content>
</ion-card>

<section class="btn-sectie">
  <ion-button class="btn-meeting" (click)="nav.pop()" ) >Terug</ion-button>
</section>
