<section class="header-section">
  <h1>Advies</h1>
</section>
<ion-card class="meeting-card">
  <ion-card-header>
    <ion-card-title class="card-title">Laatste meeting</ion-card-title>
  </ion-card-header>

  <ion-card-content class="content-text">
    <p>
    {{meting}}
    </p>
  </ion-card-content>
</ion-card>

<ion-card class="advies-card">
  <ion-card-header>
    <ion-card-title class="card-title">Korte termijn advies</ion-card-title>
  </ion-card-header>

  <ion-card-content class="content-text">
    <p>
     {{advies}}
    </p>
  </ion-card-content>
</ion-card>

<section class="btn-sectie">
  <ion-button class="btn-meeting">Terug</ion-button>
</section>
