.header-section{
     text-align: center;
     background-color: #ffdc49;
     font-weight: 700;
}

.content-text {
    text-align: center;
}

.advies-card {
    margin-bottom: 300px;
}

.btn-section{
item-align: center;
}


.card-title{
    text-align:center;

}
