<section class="header-section">
    <h1>Meting</h1>
</section>


<ion-card class=" meeting-card">
    <ion-card-header>
        <ion-card-title class="card-title">Promillage</ion-card-title>
    </ion-card-header>

    <ion-card-content class="content-text">
        {{abvDisplay}}
    </ion-card-content>
</ion-card>
<section class="advies" >
    <div *ngIf="adviesEen">
        <p>Nuchter</p>
    </div>

    <div *ngIf="adviesTwee">
        <p>Neem nog een glaasje</p>
    </div>

    <div *ngIf="adviesDrie">
        <p>Oke nog eentje dan</p>
    </div>

    <div *ngIf="adviesDrie">
        <p>Gaat fout</p>
    </div>

    <div *ngIf="adviesDrie">
        <p>Ladderzat</p>
    </div>
</section>


<section class="btn-sectie" (click)="startMeasurement()">
    <ion-button class="btn-meeting" expand="block" [attr.aria-disabled]="isMeasuring > 0">METING OPSLAAN</ion-button>
    <ion-button class="btn-terug" (click)="nav.pop()">HOME</ion-button>
</section>
<section class="btn-terug">

</section>
